:root {
    --varible-color: #202021;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.boxA{
    background-color: white;

}
.boxA .box1{

    display: flex;
    align-items: left;
    padding: 20px;

}
.boxA .box1 .box2{
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    padding: 20px;

}

.boxA .box1 .box2 .btn1, .btn2, .btn3 , .btn4, .btn5{
    font-size: medium;
    border: none;
    color: var(--varible-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
} 
.login-section, .list-section, .incident-section, .reports-section, .servicenowhelp-section{
    display: none;
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
}
.login-section.active, .list-section.active, .incident-section.active, .reports-section.active, .servicenowhelp-section.active{
    display: block;
}
.login-section .A, .list-section .A, .incident-section .A, .reports-section .A, .servicenowhelp-section .A{
    padding: 20px;
    border-radius: 12px;
}